* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.header {
    margin-left: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
}

hr {
    margin-bottom: 30px;
}

canvas {
    border: 2px solid gray;
    border-radius: 5px;
    margin-left: 10px;
}

.controller-container {
    border: 2px solid gray;
    border-radius: 5px;
    width: 28vw;
    height: 100vh;
    padding: 10px 10px;
}

.controller {
    margin-bottom: 20px;
}

button {
    border-radius: 4px;
    width: 10rem;
    height: 2rem;
    color: blue;
    background-color: rgb(131, 247, 127);
    font-weight: 700;
    cursor: pointer;
}

span {
    font-size: 14px;
}

input[type=file]::-webkit-file-upload-button {
    border-radius: 4px;
    width: 10rem;
    height: 2rem;
    font-family: 'Poppins', sans-serif;
    color: blue;
    background-color: rgb(131, 247, 127);
    font-weight: 700;
    cursor: pointer;
}